.event-wrapper-section1 {
    position: relative;
    height: 400px;
   
}
.event-wrapper-section2,.event-wrapper-section3{
    padding: 4rem 7rem;
}

.event-wrapper-section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.inc.com/uploaded_files/image/1920x1080/getty_479977238_253066.jpg');
    background-position: 60% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.3;
}

.event-wrapper-section1::after {
    content: 'Events';
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

.event-wrapper-section2-img:hover {
    display: inline-block;
    animation: move 6s infinite linear;
}

@keyframes move {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0px, -20px);
    }

    50% {
        transform: translate(0px, 20px);
    }

    75% {
        transform: translate(-20px, 20px);
    }
}
ul{
    color: orangered;
}
ul li {
    padding: 5px;
}

@media (max-width: 576px) {
    .event-wrapper-section1::after {
        font-size: 30px;
    }

    .event-wrapper-section2, .event-wrapper-section3{
        padding: 0px 0px;
    }
    ul li {
        padding: 1px 1px;
    }

    .event-wrapper-section2-img:hover {
        display: inline-block;
        animation: none;
    }
}